/* Fonts */

@font-face {
    font-family: 'Apercu';
    src: url('fonts/Apercu Bold.eot');
    src: local('☺'), url('fonts/Apercu Bold.woff') format('woff'),
        url('fonts/Apercu Bold.ttf') format('truetype'),
        url('fonts/Apercu Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'Apercu';
	src: url('fonts/Apercu Regular.eot');
	src: local('☺'), url('fonts/Apercu Regular.woff') format('woff'), url('fonts/Apercu Regular.ttf') format('truetype'), url('fonts/Apercu Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Moderrat';
	src: url('fonts/Moderrat.otf');
	font-weight: bold;
	font-style: normal;
}